click==6.7
Flask==0.12.2
Flask-Cors==3.0.2
ipykernel==4.3.1
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.5.1
MarkupSafe==1.0
Werkzeug==0.12.2
twython==3.4.0
google-api-python-client==1.5.5
aylien-apiclient==0.6.0
watson-developer-cloud==0.26.0
